.thumbnail {
  width: 100%;
}
.video-time {
  position: absolute;
  bottom: 11px;
  right: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  font-weight: 500;
}

.video-preview {
  vertical-align: top;
  width: 100%;
}
.video-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 8px;
  pointer-events: none;
}
.video-title {
  pointer-events: none;
}
.video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  position: relative;
}
.profile-picture {
  width: 36px;
  border-radius: 36px;
  margin-top: 8px;
}
.channel-picture {
  vertical-align: top;
  position: relative;
}
.paragraph {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
  z-index: -1;
}
.video-Author,
.video-status {
  font-size: 14px;
  color: rgb(96, 96, 96);
}
.video-Author {
  margin-bottom: 8px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px 5px;
  column-gap: 8px;
  row-gap: 22px;
  padding: 20px;
}
@media (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 7001px) and (min-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
  .video-Author,
  .video-status {
    font-size: 14px;
  }
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.channel-picture .tool-tip {
  display: flex;
  position: absolute;
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 10px;
  opacity: 0;
  top: 50px;
  width: 260px;
  left: 0;
  transition: opacity 0.15s;
  border-radius: 5px;
  pointer-events: none;
}

.channel-picture:hover .tool-tip {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 5px;
  opacity: 1;
  cursor: pointer;
  gap: 10px; /* Add space between items */
  padding: 10px; /* Add some inner spacing */
  border-radius: 8px; /* Rounded corners */
  background-color: white; /* Optional background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  color: black;
}
